* {
  margin: 0;
  padding: 0;
}

.container {
  font-family: "Josefin Sans", sans-serif;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgb(0, 0, 0)),
    url(/images/background.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  width: 400px;
  height: 90vh;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 0 0 30px #ffffff;
  }
}

.card {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    190deg,
    rgba(27, 63, 29, 0.712),
    rgba(40, 40, 41, 0.87)
  );
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.card-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 20px 30px 50px rgba(0, 0, 0, 0.5);
}
